@import "./src/SCSS-variables.scss";

//Convert px to em
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

body {
  background: $lightblue;
  color: $base-font-color;
  font-family: $base-font-family;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 8px 0;
}

.container {
  margin: 0 auto;
  max-width: 95vw;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 75em;
  }
}

.warning-message {
  h2 {
    text-align: center;
    font-size: 4.8rem;
  }
  &.closed h2{
    color: $danger!important;
  }
  &.open h2{
    color: $easy;
  }
}

.status-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 25px;
  width: 100vw;
}

.map-container {
  width: 100%;
}

.sensor-container {
  width: 100%;
}

@media (min-width: 768px) {
  .status-container {
    flex-wrap: nowrap;
    width: 75vw;
  }

  .map-container {
    margin-right: 5%;
    width: 66%;
  }

}

.site-title,
h1,
h2,
h3 {
  color: darken($lightblue, 75%);
  font-family: $heading-font-family;
  font-size: em(42px);
}

.header {
  background: $headerBackgound;
  border-bottom: 2px solid $medblue;
  padding: em(10px);

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-title,
  .site-tagline {
    font-weight: 400;
    text-align: center;
  }

  @media (min-width: 700px) {

    .site-title,
    .site-tagline {
      text-align: left;
      width: 100%;
    }
  }
}

.item {
  background: lighten($medblue, 45%);
  border: 1px solid lighten($medblue, 35%);
  border-bottom: 5px solid $hellayellow;
  color: $darkblue;
  margin-bottom: em(35px);
  overflow: hidden;
  padding: em(25px);
  position: relative;

  &.caution {
    border-bottom-color: $caution;
  }

  &.danger {
    border-bottom-color: $danger;
  }

  &.good {
    border-bottom-color: $good;
  }

  .item-title {
    color: darken($lightblue, 85%);
    display: flex;
    font-family: $heading-font-family;
    font-size: em(24px);
    justify-content: space-between;
    margin: 0 0 5px 0;

    .dot {
      background-color: $dot-default;
      border-radius: 50%;
      height: 25px;
      vertical-align: middle;
      width: 25px;

      &.caution {
        background-color: $caution;
      }

      &.danger {
        background-color: $danger;
      }

      &.good {
        background-color: $good;
      }
    }
  }

  .item-image {
    max-width: 100%;
  }
}

.cls-1,
.cls-3,
.cls-4,
.cls-7,
.cls-11 {
  fill: $easy;
  transition: $transition;

  &.closed {
    fill: $danger !important;
  }

  &:hover {
    fill: lighten($easy, 30%);
  }
}

.cls-5,
.cls-6,
.cls-8,
.cls-9,
.cls-10,
.cls-12,
.cls-13,
.cls-14 {
  fill: $moderate;
  transition: $transition;

  &.closed {
    fill: $danger !important;
  }

  &:hover {
    fill: lighten($moderate, 30%);
  }
}

.closed {
  path {
    fill: $danger!important;
  }
}

.clear {
  clear: both;
}