//Color definitions

$lightblue: #F6F6FE;
$darkblue: #1A577F;
$medblue: #2E83AD;
$headerBackgound: #FFF;
$hellayellow: #F7EE1A;
$white: #FFF;
$caution: #FFa500;
$danger: #ff0000;
$good: #00ff00;
$dot-default: #BBB;

$easy: darken(#00FF00, 15%);
$moderate: darken(#0000FF, 15%);


//Typography
$base-font-color: #222;
$base-font-size: 16px;
$base-font-family: 'Nunito', sans-serif;
$heading-font-family: 'Righteous', sans-serif;

//Others
$transition: 0.25s ease all;